.cart_row_h1, .cart_row_h4
{
    text-align: center;
    margin: 5px 0;
}
.cart_img
{
    width: 20vw;
}
.cart_product
{
    display: flex;
    flex-direction: row;
    margin: 25px 30px;
}
.cart_pro_2
{
    margin-left: 25px;
}
.btn_remove{
    padding: 5px 20px;
    background: red;
    border: red;
    color: cornsilk;
    border-radius: 3px;
    cursor: pointer;
}
.btn_remove:active
{
    background-color: black;
}
.cart_total
{
    margin: 8px 100px;
}   
.cart_total_h4
{
    margin: 15px 0;
    font-size: x-large;
}
.btn_carts
{
    padding: 12px 30px;
    margin: 16px 0;
    background: crimson;
    color: aliceblue;
    border: none;
    border-radius: 3px;
    cursor: pointer;   
}
.btn_carts:active
{
    background-color: black;
}