.signin_gif
{
    width: 40%;
    margin-left: 90px;
}
.parent1
{
    display: flex;
    justify-content: flex-start;
}
#sgnin_h3
{
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;

}
.sgnin_p
{
    font-family: 'Poppins', sans-serif;
}
.signinform
{
    margin-top: 30px;
}
.login1
{
    margin-left: 13%;
    margin-top: 0%;
}
.input_signin
{
    padding: 16px 17px;
    font-size: large;
    border-radius: 8px;
    background: rgba(57, 57, 57, 0.07);
    font-weight: normal;
    border-bottom: 2px solid gainsboro;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
    margin: 12px 0;
}
.signin_btn {
    padding: 15px 0px;
    width: 40%;
    align-self: center;
    margin-top: 18px;
    background-color: darkorange;
    color: lavender;
    cursor: pointer;
    border-radius: 8px;
    outline: 0;
    border: none;
    font-size: larger;
}
.input_signin:focus{
    border-bottom: 2px solid gray;
}
.signin_nav{color: black;}