.admin_d_h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    padding: 30px 0;
    border-bottom: 3px solid;
}
.font_user
{
    font-family: 'Poppins', sans-serif;
}
.admin_m_main
{
    /* border: 1px solid red; */
    height: 200vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 30px;
}
.admin_m_sub
{
    border-right: 3px solid;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
}
.admin_m_h2{
    font-size: x-large;
    /* border: 1px solid green; */
    position: relative;
    width: 160vh;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
.admin_m_sub
{
    border-right: 3px solid;
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
}