.parent {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  border: 2px solid;
  grid-row-gap: 0px;
}
.div1 {
  border: 2px solid green;
}
.div2 {
  border: 2px solid red;
}
.div_sub2 {
  border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}
.home_h4 {
  font-size: x-large;
  margin: 12px 12px;
}
.home_h4p {
  font-size: x-large;
  text-align: center;
  margin: 20px;
}
.card {
  margin: 20px 20px;
  padding: 7px 7px;
  box-shadow: 0px 0px 5px 3px grey;
}
.card_body {
  margin-top: 10px;
}
.card_img {
  width: 20vw;
}
.card_bt {
  margin-left: 8px;
}
.card_btn {
  padding: 9px 20px;
  background: blue;
  color: aliceblue;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.filter {
  display: flex;
  flex-direction: column;
}
.filterC
{
  margin-left: 11px;
}
.checkb,.radio {
  /* padding: 12px 9px; */
  margin: 4px 8px;
  font-size: larger;
}
.ant-radio-wrapper {
  font-size: larger;
  margin: 4px 10px;
}
.filter_btn
{
  background: crimson;
  padding: 9px 56px;
  margin-left: 20px;
  margin-top: 15px;
  color: aliceblue;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 2px 1px black;
}
.load_div
{
  text-align: center;
  margin: 12px 0;
}
.load_btn
{
   padding: 8px 24px;
   background: black;
   border-radius: 2px;
   cursor: pointer;
   color: aliceblue;
   box-shadow: 1px 2px 3px 1px grey;
}
.swiper, swiper-container {
  z-index: -1!important;
}