.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #242424;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.navbar_ul
{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
#a
{
    color: lavender;
    margin: 15px 30px;
    font-size: 3.5vh;
    text-decoration: none;
}
.b_name
{
    margin-left: 15px;
    color: lavender;
}
.navbar_button
{
    cursor: pointer;
    font-size: 3.5vh;
    background: transparent;
    color: lavender;
    font-family: 'Roboto', sans-serif;
    margin: 0px 25px;
    border: 2px solid gray;
    padding: 5px 14px;
}

#a:hover{
    color: darkorange;
    transition: all 0.8s;
}
.navbar_button:hover {
    color: darkorange;
    transition: all 0.8s;
} 
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropbtn
  {
    padding: 4px 10px;
    font-size: 3.5vh;
    background: transparent;
    color: lavender;
    border-bottom: 2px solid;
    text-transform: capitalize;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  /* Links inside the dropdown */
  .dropdown-content {
    padding: 0 10px;
  }
  .dropdown_icon
  {
    margin-left: 16px;
  }
  
  .dropdown_navlink{
    display: block;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
  }
 
  .dropdown-content .dropdown_navlink:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {transition: all 0.7s;}

.cat_li{
    padding: 10px 0;
    text-decoration: none;
}  
.cat_link
{
    text-decoration: none;
    color: black;
}


.menu_icon
{
    display: none;
}

@media screen and  (max-width:874px) {
    .logo
    {
        display: flex;
        position: absolute;
        top: 25px;
        left: 6px;
    }
    .navbar_ul
    {
        display: none;
    }
    .navbar_mobile_css
    {
        position: absolute;
        display: block;
        z-index: 10;
        background-color: #242424;
        list-style: none;
        left: 0;
        top: 63px;
        text-align: center;
        /* animation: slider 1s 1 forward ease-in; */
        animation-name: slider;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        width: 100%;
    }
    @keyframes slider {
        from {
          transform: translateY(-15px)
        }
        to {
          transform: translateY(0px);
        }
      }
    li
    {
        padding: 3vh 0vw;
        width: 80vw;
    }
    .menu_icon
    {
        display: block;
        position: absolute;
        top: 22px;
        right: 12px;
        transition: all 0.5s ease-in-out;
    }
    .navbar_button 
    {
        font-size: 2.5vh;
    }
    #a
    {
        font-size: 2.5vh;
    }
    
}
@media screen and  (max-width:425px) {
    .navbar
    {
        height: 10vh;
    }
}
