.cont_banner
{
width: 100%;
}
/* #cont_div
{ border-top: none; border-left: none; border-right: none;    border-bottom: 4px solid darkorange; margin-bottom: 4%;} */

#cont_div_main
{
    display: flex;
    margin-bottom: 10%;
}
.cont_div_sub
{
    width: 28%;
    padding: 0 67px;
}
.cont_img
{
    width: 91%;
    margin-left: 200px;
}
.cont_p
{
    font-size: xx-large;
    margin-bottom: 25px;
    width: 400px;
}
.cont_inpt
{
    padding: 16px 17px;
    font-size: large;
    border-radius: 8px;
    background: rgba(57, 57, 57, 0.07);
    font-weight: normal;
    border-bottom: 2px solid gainsboro;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
    margin: 12px 0;
}
.cont_btn{
    padding: 9px 40px;
    font-size: larger;
    border-radius: 10px;
    background: #00B8A9;
    color: ghostwhite;
    cursor: pointer;
    border: 1px solid black;
}
.cont_btn:focus
{
    box-shadow: 3px 6px 9px 0px black;
    background-color: black;
}