.select-single, .ant-select-lg {
    font-size: 16px;
    width: 40vw;
    height: 8vh;
    border: 2px solid dimgray;
    margin-left: 30px;
    margin-top: 20px;
}
.p_div
{
    margin-top: 30px;
    margin-bottom: 20px;
}
.p_label
{
    margin: 0 30px;
    border: 2px solid dimgray;
    padding: 4px 30px;
}
.p_div1
{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 25px;   
}
.p_div1_input1
{
    padding: 15px 10px;
}
.p_select
{
    margin-left: 0px;
    margin-bottom: 20px!important;
}
.p_div1_input2
{
    padding: 15px 10px;
}
.p_div1_inputp
{
    margin: 20px 0;
}
.crt_btn
{
    padding: 8px 30px;
    background: darkcyan;
    color: lightyellow;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 6px 1px black;
    cursor: pointer;
}
.crt_btn:active {
    background-color: black;
    color: whitesmoke;
}
.crt_btn_div
{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-around;
}
.allproducts
{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.card_img
{
    width:200px;
}