.footer {
    align-items: center;
    background-color: #242424;
    /* bottom: 0; */
    color: lavender;
    display: flex;
    font-size: 20px;
    height: 290px;
    justify-content: center;
    /* position: fixed; */
    width: 100%;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
  }
  
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    font-size: smaller;
    align-items: stretch;
  }
  .column {    
    padding: 0 2em;
  }
  .fo_h3 {
    font-size: 1.4em;
    line-height: 2;
  }
  .fo_ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .fo_li:not(:first-child) {
    margin-top: 0.8em;
  }
  .fo_ul .fo_li .fo_navlink {
    color: #a7a7a7;
    text-decoration: none;
  }
  ul li .fo_navlink:hover {
    color: #c7940a;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  .fo_input,.fo_btn {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .fo_btn {
    background-color: darkorange;
    color: whitesmoke;
    border: none;
    cursor: pointer;
  }
  .social {
    display: flex;
    margin-top: 1.5em;
    margin: 12px 0px;
  }
  .fo_icon
  {
    margin-right: 46px;
    cursor: pointer;
  }
  .copyright {
    padding: 4px 5px;
    background-color: #25262e;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100vw;
    margin-top: 12px;
    height: 75px;
  }
  .fo_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 18px;
    text-decoration: none;
    color: lavender;
  }
  .fo_menu_sub
  {
    display: flex;
  }
  .fo_menu_nav
  {
    color: lavender;
    margin: 0 15px;
    text-decoration: none;
  }
  /* .fo_menu_sub,.fo_p
  {
    font-size: smaller;
  } */
  .fo_menu_nav:hover, .social i:hover{
    color: #c7940a;
  }
  