#admin_table
{
  border-collapse: collapse;
  width: 100%;
}
#admin_table #admin_td, #admin_table .admin_th {
    border: 1px solid #ddd;
    padding: 8px;
}
tr:hover {background-color: #ddd;}
#admin_table .admin_th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }