.user_d_h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px;
    font-size: x-large;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
.font_user
{
    font-family: 'Poppins', sans-serif;
}
.user_m_main
{
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 30px;
}
.user_m_sub1{
    font-size: x-large;
    /* border: 1px solid green; */
    position: relative;
    width: 160vh;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
.user_m_sub
{
    border-right: 3px solid;
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
}
.user_m_nav
{
    padding: 20px 0px;
    
}

.user_m_btn
{
    font-size: x-large;
    padding: 8px 20px;
    background: darkorange;
    border: navajowhite;
    border-radius: 4px;
    color: floralwhite;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}
.user_m_btn:active
{
    background-color: black;
    color: #ffffff;
}

.user_m_sub_p
{
    font-size: x-large;
}
.user_m_sub2
{
    padding: 15px 15px;
}
.profile_input
{
    padding: 19px 30px;
    margin: 13px 0;
    border-radius: 4px;
}
.profile_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}
.profile_btn {
    padding: 15px 0px;
    width: 26%;
    margin-top: 18px;
    background-color: crimson;
    color: antiquewhite;
    cursor: pointer;
    border-radius: 8px;
    outline: 0;
    border: none;
    font-size: larger;
}
.table
{
    border-collapse: collapse;
    width: 100%;
}
.table, .order_td 
{
    border: 1px solid #ddd;
    padding: 8px;
}
.table, .order_th
{
    border: 1px solid #ddd;
    padding: 8px;
}
.order_thead
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.order_td:hover
{
    background-color: #ddd;
}
.border_shadow
{
    margin-left: 30px;
}
